:root{
    /* color */
    --color-primary: #1A1953;
    --color-secondary: #134B70;
    --color-accent: #435663;
    --color-light-accent: #DDF2FD;
    --color-white: #FFF;
    --color-black: #000;
    --color-lightgray: #EEEEEE;
    --color-blue: #2FA4D7;
    --color-red: #FF3737;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-bold: rgba(0, 0, 0, 0.3);

    /* font weight */
    --weight-thin:100;
    --weight-light:300;
    --weight-regular:400;
    --weight-medium:500;
    --weight-semibold:600;
    --weight-bold:700;
    --weight-extrabold:800;
    --weight-black:900; 
}