:root{
    /* color */
    --color-primary: #1A1953;
    --color-secondary: #134B70;
    --color-accent: #435663;
    --color-light-accent: #DDF2FD;
    --color-white: #FFF;
    --color-black: #000;
    --color-lightgray: #EEEEEE;
    --color-blue: #2FA4D7;
    --color-red: #FF3737;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-bold: rgba(0, 0, 0, 0.3);

    /* font weight */
    --weight-thin:100;
    --weight-light:300;
    --weight-regular:400;
    --weight-medium:500;
    --weight-semibold:600;
    --weight-bold:700;
    --weight-extrabold:800;
    --weight-black:900;

    /* font size */
    --title-24: 2.4rem;  
    --title-20: 2rem;
    --title-18: 1.8rem; 
    --title-16: 1.6rem; 
    --title-15: 1.5rem; 

    --body-14: 1.4rem;
    --body-13: 1.3rem; 
    
    --caption-12: 12rem;  
    --caption-11: 1.1rem;     
}